{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AbnormalLoads{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/@barba/core"></script>
</head>

<body class="bg-gray-100">

    <!-- Add padding to prevent content from being hidden under fixed header -->
    <div class="mt-20"></div>

    <!-- Main Page Wrapper -->
    <div class="flex flex-col min-h-screen">

        <!-- Page Content -->
        <main class="flex-grow container mx-auto px-4 md:px-6 lg:px-8" data-barba="wrapper">
            <div data-barba="container" data-barba-namespace="main">
                {% block content %}{% endblock %}
                {% block extra_js %}{% endblock %}
            </div>
        </main>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white py-6 text-center">
            <p class="text-sm">&copy; 2024 AbnormalLoad. All rights reserved.</p>
        </footer>
    </div>

    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
   

    <script src="{% static 'js/main.js' %}"></script>
    <script>

        
        // Barba.js Page Transitions
        barba.init({
            transitions: [{
                name: "fade",
                leave(data) {
                    return gsap.to(data.current.container, {
                        opacity: 0,
                        duration: 0.6
                    });
                },
                enter(data) {
                    return gsap.from(data.next.container, {
                        opacity: 0,
                        duration: 0.6
                    });
                }
            }]
        });
    </script>
</body>

</html>