body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.bg-blue-600 {
    background-color: #001f3f;
}

.text-blue-600 {
    color: #001f3f;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.hidden {
    display: none;
}

#province-container select {
    transition: all 0.3s ease-in-out;
}

#weather-info {
    opacity: 0;
}

#weather-info.show {
    opacity: 1;
}
#province-container {
    display: block !important;  /* Ensure display is set to block */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideIn 0.5s ease-in-out forwards;
}
