body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.bg-blue-600 {
    background-color: #012D50;
}

.text-blue-600 {
    color: #012D50;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-lg {
    border-radius: 0.5rem;
}
